body, html {
    background-color: #fff;
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

.content-centered {
    float: none;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

select#routes {
    margin-bottom: 15px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.center-cropped {
    max-height: 100%;
    max-width: 100%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.dGalleryRow1 {
    border: 1px solid #eeeeee;
    padding: 3px !important;
    margin: 10px;
    height: 17%;
    cursor: pointer;
}

div.dGalleryRow img {
    min-width: 100% !important;
    max-width: 100% !important;
}

div.dGalleryRow {
    margin-bottom: 2px;
}

.bDelete {
    position: absolute;
    right: 2px;
    top: 5px;
    font-size: 8px;
    background-color: #F44336;
    border-radius: 11px;
    padding: 5px;
    border: 0;
    display: none;
}

.bTransfer {
    position: absolute;
    right: 2px;
    top: 5px;
    font-size: 8px;
    background-color: #00a0f4;
    border-radius: 11px;
    padding: 5px;
    border: 0;
    display: none;
}

span.glyphicon.glyphicon-remove {
    margin-top: -1px;
}
